<%- include('partials/head') %>
</head>

<body class="body-background">

    <%- include('partials/preloader') %>

    <%- include('partials/navbar') %>
    <div class="">
        <div class="card shadow-lg o-hidden border-0 my-5 text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="p-0">
                            <% if(pollList.length>0){ %>
                            <table class="table table-striped ">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">ุฅุฌูุงูู ุงูุฃุตูุงุช</th>
                                        <th scope="col">ุงูุนููุงู</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0; i<pollList.length; i++) {%>
                                    <tr class="title-link">
                                        <td>
                                            <button class="fas fa-trash btn btn-link delete-button"
                                                value="<%= pollList[i]._id %>">
                                            </button>
                                        </td>
                                        <td><%= pollList[i].total %> </td>
                                        <td>
                                            <a href="<%= url %>/<%= pollList[i]._id %> "><%= pollList[i].title %>
                                            </a>&nbsp;(<a href="<%= url %>/<%= pollList[i]._id %>/r ">ุงููุชุงุฆุฌ</a>)
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                            <%}else{%>
                            <h3 class="m-5"> ๐ฅ ูุง ููุฌุฏ ูุฏูู ุงุตูุงุช </h3>
                            <a class="btn-solid-lg btn-solid-margin text-center" href="/create">ุฅูุดุงุก ุชุตููุช</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>
        <script>
            $('.delete-button').click((e) => {
                const pollParent = e.target.parentElement.parentElement;
                const pollID = e.target.value;
                Swal.fire({
                    title: 'ูู ุงูุช ูุชุฃูุฏ',
                    text: "ูุง ุชุณุชุทูุน ุงูุชุฑุงุฌุน ุนู ูุฐุง ุงููุฑุงุฑ",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00bfd8',
                    cancelButtonColor: '#d33',
                    heightAuto: false,
                    confirmButtonText: 'ูุชุฃูุฏ',
                    cancelButtonText: 'ุชุฑุงุฌุน'
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch(`/${pollID}`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        }).then(res => {
                            if (res.status == 200) {
                                Swal.fire({
                                    icon: 'success',
                                    text: 'ุชู ุญุฐู ุงูุชุตููุช',
                                    timer: 1500,
                                    heightAuto: false,
                                    showConfirmButton: false,
                                });
                                pollParent.remove();
                            }
                            else {
                                errorAlert('ูุดููุฉ ูู ุงูุณูุฑูุฑ', 500);
                            }
                        })
                    }
                })

            });
        </script>
</body>

</html>