<%- include('partials/head') %>
</head>

<body class="body-background">

    <%- include('partials/preloader') %>

    <%- include('partials/navbar') %>
    <div class="card-container">
        <div class="card shadow-lg o-hidden border-0 my-5 text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="p-0">
                            <table class="table table-striped ">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">اجمالي الأصوات</th>
                                        <th scope="col">العنوان</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0; i<pollList.length; i++) {%>
                                    <div class="qwer">
                                        <tr class="title-link">
                                            <td>
                                                <button class="fas fa-trash btn btn-link delete-button"
                                                    value="<%= pollList[i]._id %>">
                                                </button>
                                            </td>
                                            <td><%= pollList[i].total %> </td>
                                            <td>
                                                <a href="<%= url %>/<%= pollList[i]._id %> "><%= pollList[i].title %>
                                                </a>&nbsp;(<a href="<%= url %>/<%= pollList[i]._id %>/r ">النتائج</a>)
                                            </td>
                                        </tr>
                                    </div>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>
        <script>
            $('.delete-button').click((e) => {
                const pollParent = e.target.parentElement.parentElement;
                const pollID = e.target.value;
                Swal.fire({
                    title: 'هل انت متأكد',
                    text: "لا تستطيع التراجع عن هذا القرار",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00bfd8',
                    cancelButtonColor: '#d33',
                    heightAuto: false,
                    confirmButtonText: 'متأكد',
                    cancelButtonText: 'تراجع'
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch(`/${pollID}`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        }).then(res => {
                            if (res.status == 200) {
                                Swal.fire({
                                    icon: 'success',
                                    text: 'تم حذف التصويت',
                                    timer: 1500,
                                    heightAuto: false,
                                    showConfirmButton: false,
                                });
                                pollParent.remove();
                            }
                            else {
                                errorAlert('مشكلة في السيرفر', 500);
                            }
                        })
                    }
                })

            });
        </script>
</body>

</html>