<%- include('partials/head') %>

<head>

<body class="body-background">
    <%- include('partials/preloader') %>

    <%- include('partials/navbar') %>
    <div class="container error-view">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0 text-center">
                <div class="row">
                    <div class="col">
                        <div class="p-5">
                            <div class="row">
                                <h3 id="res-title" class="mx-auto"><%= error.status %></h3>
                            </div>
                            <hr>
                            <div class="row">
                                <h3 id="res-title" class="mx-auto"><%= error.message %></h3>
                            </div>
                            <a type="button" href="/" class="btn-solid-reg btn-back">الرجوع
                                الى الصفحة
                                الرئيسية</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>

</body>

</html>