<%- include('partials/header') %>
<link rel="stylesheet" href="/css/main.css">
</head>
<header id="header" class="ex-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12  col-sm-12">
                <div class="jumbotron">
                    <div class="form-check  text-right">
                        <h3 id="res-title"><%= poll_values.title %></h3>
                        <% poll_values.poll_list.forEach( function(item) { %>
                        <div id="poll-item">
                            <h4><%= item.name %></h4>
                            <h4 id="poll-item-numberVote"><%= item.numberVote %></h4>
                        </div>
                        <hr>
                        <% } );%>
                        <div id="toast"></div>
                        <button id="copy-button" type="button" class="btn-solid-reg mt-3 mb-3">نسخ الرابط</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header> <!-- end of ex-header -->
<script src="/js/res.js"></script>
<%- include('partials/footer') %>