<%- include('partials/head') %>
</head>

<body class="body-background">

    <%- include('partials/preloader') %>

    <%- include('partials/navbar') %>
    <div class="container card-container">
        <div class="card shadow-lg o-hidden border-0 my-5 text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="p-2">
                            <div class="form-check  text-right">
                                <h3 id="res-title"><%= poll.title %></h3>
                                <hr>
                                <% poll.options.forEach(function(option) { %>
                                <div id="poll-option">
                                    <h4 class="res-name"><%= option.name %></h4>
                                    <h4 id="voteCount"><%= option.voteCount %></h4>
                                    <hr class="text-center progress-hr">
                                    <div class="text-center">
                                        <div class="progress center-block">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                style=" width: <%= option.percentage %>%;" role="progressbar">
                                                <strong class="progress-text"><%= option.percentage %>%</strong></div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <% } );%>
                            </div>
                            <div id="toast"></div>
                            <h3 id="vote-count" class="my-4 text-right">اجمالي الاصوات :
                                <%= poll.total %></h3>
                            <hr class="result-footer  mx-4">
                            <div class="mt-5">
                                <button id="copy-button" type="button" class="btn-solid-reg float-left poll-btn">نسخ
                                    الرابط</button>
                                <button id="goVote-button" type="button"
                                    class="btn-solid-reg float-right poll-btn">الرجوع لتصويت</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% if(poll.question && poll.admin){ %>
        <div class="card shadow-lg o-hidden border-0 my-5 text-center admin-area">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="p-0">
                            <h3 class="my-3">منطقة الإدارة</h3>
                            <hr>
                            <h4 class="mb-5 mt-3 text-right"><%= poll.question %></h4>
                            <table class="table table-striped ">
                                <thead>
                                    <tr>
                                        <th scope="col">الإجابة</th>
                                        <th scope="col">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0; i<poll.answers.length; i++) {%>
                                    <tr>
                                        <td><%=poll.answers[i] %> </td>
                                        <th scope="row"><%=i+1 %></th>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <%- include('partials/footer') %>

        <script src="/js/res.js"></script>
</body>

</html>