<%- include('partials/head2') %>

</head>

<body class="body-background">

    <%- include('partials/preloader') %>

    <%- include('partials/navbar') %>
    <div class="container dashboard-view">
        <div class="card shadow-lg o-hidden border-0 my-5 text-center">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col text-right user-details pt-5">
                        <h3><%= user.username %> </h3>
                        <p class="settings-label"><%=user.role %></p>
                    </div>
                    <div class="col-lg-3 col-md-3  col-sm-3 col-6">
                        <div class="image-wrapper">
                            <img class="img-fluid user-img" src="/images/team-member-2.svg" alt="alternative">
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <nav>
                            <div class="nav nav-tabs float-right" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active nav-tabs" href="<%=url  %>/settings"
                                    aria-controls="nav-profile" aria-selected="true">الإعدادت</a>
                                <a class="nav-item nav-link  nav-tabs" href="<%=url  %>/dashboard"
                                    aria-controls="nav-home" aria-selected="false">اصواتي</a>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-6">
                        <form id="update-form" class="user">
                            <div class="form-group mt-4 text-right">
                                <label for="username">
                                    <p class="settings-label mr-3">إسم المستخدم </p>
                                </label>
                                <input class="form-control form-control-user" type="text" id="username"
                                    placeholder="إسم المستخدم" name="username" value="<%=user.username %> ">
                            </div>
                            <div class="form-group text-right">
                                <label for="email">
                                    <p class="settings-label mr-3">الإيميل</p>
                                </label>
                                <input class="form-control form-control-user" type="email" id="email"
                                    placeholder="الإيميل" name="email" value="<%=user.email %> ">
                            </div>
                            <div class="form-group">
                                <a href="<%=url  %>/auth/updatepassword" style="text-decoration: none;"
                                    class="btn btn-primary btn-block text-white btn-user" id="password-btn">تغيير كلمة
                                    المرور</a>
                            </div>
                    </div>
                </div>
                <hr>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-primary btn-block text-white btn-user p-3" id="submit-btn"
                            type="submit">حفظ
                            التغييرات</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <%- include('partials/footer') %>
        <script src="../js/dashboard.js"></script>
        <script>
            $('#update-form').on('submit', async function (e) {
                e.preventDefault();
                const username = $('#username').val();
                const email = $('#email').val();
                const response = await fetch('/auth/updatedetails', {
                    method: 'PUT',
                    headers: {
                        'content-type': 'application/json',
                    },
                    body: JSON.stringify({ username, email })
                });
                try {
                    const data = await response.json();
                    // Show alert if v or show error otherwise
                    if (response.status == 200) {
                        successAlertTimer(data.message, `${location.href}`)
                    } else {
                        errorAlert(data.message);
                    }
                }
                catch (error) {
                    console.log(error);
                    errorAlert('مشكلة في السيرفر', 500);
                }
            })
        </script>
</body>

</html>