<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/vote.css">
<title>التصويت</title>

</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <div id="select-alert" class="alert alert-primary hidden text-center" role="alert">
                الرجاء اختيار صوت لتصويت
            </div>
            <div id="vote-alert" class="alert alert-primary hidden text-center" role="alert">
                لا يمكن التصويت اكثر من مره
            </div>
            <div class="form-check  text-right">
                <h3 id="title"><%= poll_values.title %></h3>
                <% poll_values.poll_list.forEach( function(item) { %>
                <h4><label for="<%= item.id %>" class="form-check-label"><%= item.name %></label>
                    <input type="radio" class="form-check-input custom-radio" name="itemList" id="<%= item.id %>">
                </h4>
                <hr>
                <% } );%>

            </div>
            <button id="copy-button" type="button" class="btn btn-dark btn-lg">نسخ الرابط</button>
            <div id="toast"></div>
            <button id="submit-vote" type="button" class="btn btn-dark btn-lg">تصويت</button>
            <button id="result-button" type="button" class="btn btn-dark btn-lg">النتائج</button>
        </div>
    </div>

    <script src="/javascripts/vote.js"></script>
    <%- include('partials/footer') %>