<%- include('partials/head') %>
</head>

<% if(poll.question) { %>
<input type="hidden" id="question" value="<%=poll.question%>">
<% } %>
<% if(poll.hidden!=0) { %>
<input type="hidden" id="hidden">
<% } %>

<body class="body-background">

    <%- include('partials/preloader') %>

    <%- include('partials/navbar') %>
    <div class="container card-container">
        <div class="card shadow-lg o-hidden border-0 my-5 text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="p-2">
                            <div class="form-check  text-right">
                                <h3 id="vote-title"><%= poll.title %></h3>
                                <hr>
                                <% poll.options.forEach( (option)=> { %>
                                <label for="<%= option.id %>"
                                    class="form-check-label options"><%= option.name %></label>
                                <input type="radio" class="form-check-input custom-radio" name="option"
                                    id="<%= option.id %>">
                                <hr>
                                <% });%>
                            </div>
                            <div id="toast"></div>
                            <hr class="result-footer">
                            <div class="mt-5">
                                <input id="pollID" type="hidden" name="pollID" value="<%=poll._id%>">
                                <input type="hidden" name="action" value="validate_captcha">
                                <input type="button" id="vote-button" class="btn-solid-reg poll-btn" value="تصويت">
                                <button id="result-button" type="button" class="btn-solid-reg poll-btn">النتائج</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>
        <script src="https://www.google.com/recaptcha/api.js?render=6LdVI6kZAAAAACbNTvMKBFb7-eThFAU0VbsTLQI-"></script>
        <script src="/js/vote.js"></script>
</body>

</html>